.main-text {   
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    font-size: 60px;
    color: red;
}

.text {
    text-align: center;
    font-family: 'Trebuchet MS';
    color: black;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
  #btnNowaGra{
    border-radius: 3px;
    font-size: 30px;

}
#btnNowaGra:hover{
    color: white;
    background-color: black;
}